@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400;500&display=swap');

.booking-banner {
    height: 350px;
    background-image: url('../icons_assets/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.booking-banner ~ h1 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 25pt;
    font-weight: 600;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
    .booking-banner {
        height: 180px;
    }
}