@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400;500&display=swap');


.nav-header {
  display: grid;
  grid-template-columns: repeat(6,auto);
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 18pt;
}

.nav-li {
  padding-left: 15px;
  padding-right: 15px;
}

nav a {
  text-decoration: none;
}

nav .navlink {
  text-decoration: none;
  color: #000000;
}

nav .navlink:hover {
  color: #EE9972;
}

nav .active {
  color: #F4CE14;
  background-color: #495E57;
  border-radius: 16px;
  padding: 5px 10px;
}


/* Media queries for different screen sizes */
@media (max-width: 1024px) {
  .nav-header {
    font-size: 14pt ;
  }
}

@media (max-width: 820px) {
  .nav-header {
    font-size: 12pt ;
  }
}

@media screen and (max-width: 768px) {
  .nav-header {
    display: block;
    align-items: center;
    text-align: center;
    background-color: #202926;
    padding: 10px 0;
    margin: 0;
  }

  nav .navlink {
    color: white;
  }

  .nav-li {
    padding: 5px 0;
  }
  nav .active {
    color: #F4CE14;
    background-color: #495E57;
    border-radius: 5px;
  }
}